body{
      
}

body .activity_info{
    position: absolute;
    width: 100%;
    top:0%;
}


/*加载页*/

body .loading_dot1{
    position: absolute;
    top: 66.5%;
    left: 71%;
    width: 2.18%; /*14px*/
}
body .loading_dot2{
    position: absolute;
    top: 66.5%;
    left: 73.2%;
    width: 2.18%; /*14px*/
}
body .loading_dot3{
    position: absolute;
    top: 66.5%;
    left: 75.4%;
    width: 2.18%; /*14px*/
}

body .m-screen1 .g-ct  #confirmPhone{
    background-image: url('../images/confirmPhone.png');
    width:54.6875%;
    height: 10.9375% ;/*105/960*/
    position:absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:76%;
    left:22.7%;
    z-index: 10000;
}

/*微信页*/




body .page0_bag{
    position: absolute;
    width: 24.85%;/*159/640 */
    top: 43%;
    left: 62.5%;
    z-index: 10001;

}



body .page0_confirmPhone{
    position: absolute;
    width: 54.69%; /*350/640*/
    left: 23.7%;
    top: 58%;
    z-index: 10001;
}

body .page0_phoneNumber{
    position:absolute;
    
    top:48.2%;
    height: 17%;
    
    left: 17%;
    width: 62.66%;
    /*border-width: thick;
    border-style: solid;
    
    border-color:#F2D340;*/
}

body .page0_light{
    position: absolute;
    width: 13.75%;/*88/640*/
    top: 37.5%;
    left: 79.5%;
    z-index: 10002;
}

body .page0_wish{
    position: absolute;
    width: 81.72%;/*523/640*/
    left: 9.1%;
    top: 25%;
    z-index: 10000;

}
body .page0_circle1{
    position: absolute;
    width: 86.87%; /*556/640*/
    top: 70%;
    left: 6.5%;
    z-index: 10001;
}
body .page0_circle2{
    position: absolute;
    width: 86.87%; /*556/640*/
    top: 70%;
    left: 30%;
    z-index: 10001;
}
body .page0_circle3{
    position: absolute;
    width: 86.87%; /*556/640*/
    top: 70%;
    left: 53.5%;
    z-index: 10001;
}
body .page0_circle4{
    position: absolute;
    width: 86.87%; /*556/640*/
    top: 70%;
    left: 77.5%;
    z-index: 10001;
}

/*首页*/
body .page1_c1{
    position: absolute;
    width: 27.50%; /*176/640*/
    left: 17.5%;
    top:10%;


}

body .page1_num1{
    /*font-color: white;
    font-size: 2em;
    text-align: center;*/
    background-color: transparent;
    background-repeat: no-repeat;

    position:absolute;
    border:0;
    left: 25.5%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
    
}


body .page1_num2{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 32.3%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
}
body .page1_num3{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 38.7%;
    top: 36.5%;
    width: 5.94%;/*38px*/
   
}
body .page1_num4{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 45.5%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
}
body .page1_num5{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 52%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
}
body .page1_num6{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 58.8%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
}
body .page1_num7{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 65%;
    top: 36.5%;
    width: 5.94%;/*38px*/
    
}

/*抽奖页*/


body .page2_num1{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 25.5%;
    top: 13.5%;
    width: 5.94%;/*38px*/

}


body .page2_num2{
   /* font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 32.3%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}
body .page2_num3{
  /*  font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 38.7%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}
body .page2_num4{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 45.5%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}
body .page2_num5{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 52%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}
body .page2_num6{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 58.8%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}
body .page2_num7{
    /*font-color: white;
    font-size: 2em;
    text-align: center;
    background-color: transparent;*/
    position:absolute;
    border:0;
    left: 65%;
    top: 13.5%;
    width: 5.94%;/*38px*/
    
}


body .page2_phoneNumber{
    position:absolute;
    top:71%;
    height: 8.5%;
    left: 17%;
    width: 60%;    

}

body .page2_b1{
    position: absolute;
    width: 25.31%;/*162px*/
    top:19%;
    left: 30%    
}


body .page2_confirm{
    position: absolute;
    width: 54.6875%; /*350/640*/
    top:80%;
    left: 22.7%;
    z-index: 10005;
} 

/*抽奖页*/

body .page3_send{
    position: absolute;
    width: 54.69%; /*350/640*/
    top:78%;
    left: 22.7%;
}

body .page4_send{
    position: absolute;
    width: 54.69%; /*350/640*/
    top:78%;
    left: 22.7%;
}


/*step3 普通福袋*/
body .page3_coupon{
    position: absolute;
    width: 64.53%; /*413/640*/
    top:16.7%;
    left: 27.8%;
}



body .page3_guide{
    position: absolute;
    width: 9.84%;/*63/640*/
    top:18%;
    
    left: 18%;
}





body .page3_wishTitle1{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page3_wishTitle2{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page3_wishTitle3{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page3_wishTitleC{
    position: absolute;
    top: 51%;
    width: 60%;
    height: 25%;
    left: 20%;
}

body .page3_arrowL{
    position: absolute;
    width: 4.375%; /*28/640*/
    top: 58%;
    left: 8%

}

body .page3_arrowR{
    position: absolute;
    width: 4.375%; /*28/640*/
    top: 58%;
    left: 85%;
    
}

body .page3_gesture{
    position: absolute;
    width: 10.47%; /*67/640*/
    top: 67%;
    left: 85%;
}




body .page3_light1{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 83.3%;
}

body .page3_light2{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 86.3%;
}

body .page3_light3{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 89%;
}

body .page3_cus{
    position: absolute;
    width: 15%; /*96/640*/
    top: 73%;
    left: 42.5%;
    
}

/*step3 888时尚大福袋*/
body .page4_coupon{
    position: absolute;
    width: 64.53%; /*413/640*/
    top:16.7%;
    left: 27.8%;
}



body .page4_guide{
    position: absolute;
    width: 9.84%;/*63/640*/
    top:18%;
    
    left: 18%;
}





body .page4_wishTitle1{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page4_wishTitle2{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page4_wishTitle3{
    position: absolute;
    top: 52.5%;
    width: 64%;
    height: 25%;
    left: 18%;
}

body .page4_wishTitleC{
    position: absolute;
    top: 51%;
    width: 60%;
    height: 25%;
    left: 20%;
}

body .page4_arrowL{
    position: absolute;
    width: 4.375%; /*28/640*/
    top: 58%;
    left: 8%

}

body .page4_arrowR{
    position: absolute;
    width: 4.375%; /*28/640*/
    top: 58%;
    left: 85%;
    
}

body .page4_gesture{
    position: absolute;
    width: 10.47%; /*67/640*/
    top: 67%;
    left: 85%;
}




body .page4_light1{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 83.3%;
}

body .page4_light2{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 86.3%;
}

body .page4_light3{
    position: absolute;
    width: 2.34%;/*15/640*/
    top: 64%;
    left: 89%;
}

body .page4_cus{
    position: absolute;
    width: 15%; /*96/640*/
    top: 73%;
    left: 42.5%;
    
}
/*888福袋返回*/
body .page5_back{
    position: absolute;
    width: 54.69%; /*350/640*/
    top: 73%;
    left: 22.7%;
}

body .page6_back{
    position: absolute;
    width: 54.69%; /*350/640*/
    top: 73%;
    left: 22.7%;
}

/*祝福语*/
body .confirmWish_Btn{
    position: absolute;
    width: 60.15%;/*350/640*/
    top: 76%;
    left: 20%;
}


body .input_wishCus{
    position: absolute;
    top: 36%;
    width: 60%;
    height: 35%;
    left: 22%;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    font-weight: 500;
    line-height: 200%;
    
    text-indent: 0;
    letter-spacing: -0.05em;


}


body .usedBtn{
    position: absolute;
    width: 54.69%;/*350px*/
    top: 87%;
    left: 22.7%;
    z-index: 10005;
}

body .activity_btn{
    position: absolute;
    width: 54.69%;/*350px*/
    left: 22.7%;
    top: 93%;
}
index: 10001;







