body{
      
}

body .activity_info{
    position: absolute;
    width: 100%;
    top:0%;
}


/*加载页*/

body .loading_dot1{
    position: absolute;
    top: 63.5%;
    left: 71%;
    width: 2.18%; /*14px*/
}
body .loading_dot2{
    position: absolute;
    top: 63.5%;
    left: 73.2%;
    width: 2.18%; /*14px*/
}
body .loading_dot3{
    position: absolute;
    top: 63.5%;
    left: 75.4%;
    width: 2.18%; /*14px*/
}

body .m-screen1 .g-ct  #confirmPhone{
    background-image: url('../images/confirmPhone.png');
    width:54.6875%;
    height: 10.9375% ;/*105/960*/
    position:absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:76%;
    left:22.7%;
    z-index: 10000;
}

body .page2_confirm{
    position: absolute;
    width: 54.6875%; /*350/640*/
    top:80%;
    left: 22.7%;
    z-index: 10005;
} 

body .page5_back{
    position: absolute;
    width: 54.69%; /*350/640*/
    top: 73%;
    left: 22.7%;
}

body .page6_back{
    position: absolute;
    width: 54.69%; /*350/640*/
    top: 73%;
    left: 22.7%;
}

body .usedBtn{
    position: absolute;
    width: 54.69%;/*350px*/
    top: 87%;
    left: 22.7%;
    z-index: 10005;
}

body .activity_btn{
    position: absolute;
    width: 54.69%;/*350px*/
    left: 22.7%;
    top: 93%;
}
index: 10001;



body .page0_bag{
    position: absolute;
    width: 24.85%;/*159/640 */
    top: 43%;
    left: 62.5%;
    z-index: 10001;

}



body .page0_confirmPhone{
    position: absolute;
    width: 54.69%; /*350/640*/
    left: 23.7%;
    top: 58%;
    z-index: 10001;
}

body .page0_phoneNumber{
    position:absolute;
    
    top:48.2%;
    height: 17%;
    
    left: 17%;
    width: 62.66%;
    /*border-width: thick;
    border-style: solid;
    
    border-color:#F2D340;*/
}

body .page0_light{
    position: absolute;
    width: 13.75%;/*88/640*/
    top: 37.5%;
    left: 79.5%;
    z-index: 10002;
}

body .page0_wish{
    position: absolute;
    width: 81.72%;/*523/640*/
    left: 9.1%;
    top: 25%;
    z-index: 10000;

}
body .page0_circle{
    position: absolute;
    width: 86.87%; /*556/640*/
    top: 70%;
    left: 6.5%;
    z-index: 10001;
}


body .g-doc .g-bd .swiper-container .swiper-slide .m-screen0 .g-ct{
    background: url('../images/bg01_1.jpg');
    background-size: 100% 100%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-yh{
    position:absolute;
    left:14.06%;
    top: 37.9%;
    width: 71.87%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-zy{
    position:absolute;
    left:14.06%;
    top: 53.1811%;
    width: 71.87%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-my{
    position:absolute;
    left:14.06%;
    top: 68.4622%;
    width: 71.87%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-miyou{
    position:absolute;
    left:14.06%;
    top: 83.7433%;
    width: 71.87%;
}


body  #slide5 .m-screen5 .g-ct .bg_image{
    width: 80%;
	height: 70%;
    position:absolute;
    top:1%;left:10%;
	
}

body  #slide5 .m-screen5 .g-ct .btn_first{
    width: 25%;
    position:absolute;
    top:72%;left:37.5%;
}

body  #slide5 .m-screen5 .g-ct .btn_second{
    width: 38.7%;
    position:absolute;
    top:89.4%;left:10%;
}

body  #slide5 .m-screen5 .g-ct .btn_third{
    width: 38.7%;
    position:absolute;
     top:89.4%;left:51%;
}

body  #slide5 .m-screen5 .g-ct .btn_forth{
     width: 38.7%;
    position:absolute;
    top:77%;left:10%;
}


body  #slide5 .m-screen5 .g-ct .btn_five{
       width: 38.7%;
    position:absolute;
     top:77%;left:51%;
}

body  #slide5 .m-screen5 .g-ct .bg_image{
    width: 80%;
    position:absolute;
    top:2%;left:10%;
	
}


body .g-doc .g-bd .swiper-container .swiper-slide .m-screen0 .g-ct .slideup-hint{
    position:absolute;
    left:0;
    top: 75%;
	width: 100%;
	height: 25%;
	background: url('../images/slideup01.png');
	background-size:100% 100%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen0 .g-ct .slideup-hint .slide-arrow{
    position:absolute;
    left: 38.7037%;
    top:78%;
    width: 22.5926%;
    height: 18.9245%;
    background: url('../images/redarrow.png');
    background-size: cover;
}


/*body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-yh{
    position:absolute;
    left:14%;
    top: 180px;
    width: 72%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-zy{
    position:absolute;
    left:14%;
    top: 236px;
    width: 72%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-my{
    position:absolute;
    left:14%;
    top: 292px;
    width: 72%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen1 .g-ct #b-miyou{
    position:absolute;
    left:14%;
    top: 348px;
    width: 72%;
}*/
/*
body .g-doc .g-bd .swiper-container .swiper-slide .m-screen01 .g-ct{
    background: url('../images/bg_product_ip4.jpg');
    background-size: 100% 100%;
}*/

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct #bg-yh{
    position:absolute;
	background: url('../images/bg_youhuo_ip4_new.jpg');
	background-size: cover;
}
body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct #bg-zy{
    position:absolute;
	background: url('../images/bg_ziyou_ip4.jpg');
	background-size: cover;
}
body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct #bg-my{
    position:absolute;
	background: url('../images/bg_manya_ip4.jpg');
	background-size: cover;
}
body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct #bg-miyou{
    position:absolute;
	background: url('../images/bg_miyou_ip4_v2.jpg');
	background-size: cover;
}


body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct .slideup-hint{
    position:absolute;
    left: 35.3906%;
    top: 92.55%;
	width: 29.2188%;
	height: 7.45%;
	background: url('../images/whiteHint.png');
	background-size: cover;
}
body .g-doc .g-bd .swiper-container .swiper-slide .m-screen2 .g-ct .slideup-hint .slide-arrow{
    position:absolute;
    left: 5%;
    top: 36%;
    width: 90%;
    height: 63%;
    background: url('../images/whiteArrow.png');
    background-size: cover;
}


body .g-doc .g-bd .swiper-container .swiper-slide .m-screen3 .g-ct #promotion{
    position:absolute;
    top:75.18%;
    left: 0%;
    width:100%;
    height:6%;
	background: url('../images/04_promotion.png');
	background-size: cover;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen3 .g-ct .bbar{
    position:absolute;
    top:83.18%;
    left: 0%;
    width:100%;
    height:16.82%;
}

body .g-doc .g-bd .swiper-container .swiper-slide .m-screen4 .g-ct .pick-btn{
    position:absolute;
    top: 73%;
    left: 19.38%;
    width: 58%;
    height: 10%;
    background: url('../images/05_pick_btn.png');
	background-size: 100% 100%;
}
